<!-- We can use a ternary operator to decide what class to apply -->
<!-- <app-content-list-item
  *ngFor="let singleVideoGame of videoGameArray; even as thisVideoGameIsEven; odd as thisVideoGameIsOdd"
  [contentItemInputValue]="singleVideoGame"
  [class]="thisVideoGameIsEven ? 'even-game' : 'odd-game'"></app-content-list-item> -->

<!-- We can also use an attribute built into angular for more flexibility, called ngClass -->
<app-content-list-item
  *ngFor="let singleShow of showList; even as thisShowIsEven; odd as thisShowIsOdd"
  [contentItemInputValue]="singleShow"
  [ngClass]="{'even-show': thisShowIsEven, 'odd-show': thisShowIsOdd}"></app-content-list-item>
